## .NET
bin/
obj/
*.user
*.suo
.vs/
*.db
*.db-shm
*.db-wal

## Build artifacts
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

## Publish output
publish/
PublishProfiles/

## OS
.DS_Store
Thumbs.db
desktop.ini

## IDE
.idea/
*.swp
